:root {
  /* Colors */
  --clr-primary-200: hsl(0, 100%, 66%);
  --clr-primary-800: hsl(249, 99%, 64%);
  --clr-primary-900: hsl(278, 94%, 30%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 3%, 87%);
  --clr-neutral-300: hsl(279, 6%, 55%);
  --clr-neutral-900: hsl(278, 68%, 11%);

  /* Font Family */
  --font-family-primary: "Space Grotesk", sans-serif;

  /* Font Weights */
  --fw-Regular: 400;
  --fw-Medium: 500;

  /* Font Sizes */
  --fs-100: 0.512rem;
  --fs-200: 0.64rem;
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.563rem;
  --fs-700: 1.953rem;
  --fs-800: 2.441rem;
  --fs-900: 3.052rem;
  /*  */
  --ff-body: var(--font-family-primary);
  --fs-body: var(--fs-400);
  --fs-large: var(--fs-600);
  --fs-input-text: var(--fs-400);
  --fs-input-text-larg: var(--fs-500);
  --fs-placeholder-text: var(--fs-input-text);
  --fs-label-text: var(--fs-300);
  --fs-error-message: var(--fs-200);
  --fs-button: var(--fs-input-text);
  --border-radius: 0.4em;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: inherit
}

blockquote,
body,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
p {
  margin: 0
}

ol[role=list],
ul[role=list] {
  list-style: none
}

html:focus-within {
  scroll-behavior: smooth
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto
}

img,
picture,
svg {
  max-width: 100%;
  display: block
}

button,
input,
select,
textarea {
  font: inherit
}

@media (prefers-reduced-motion:reduce) {
  html:focus-within {
    scroll-behavior: auto
  }

  *,
  ::after,
  ::before {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0s !important;
    -o-transition-duration: 0s !important;
    transition-duration: 0s !important;
    scroll-behavior: auto !important
  }
}


.text-primary-200 {
  color: var(--clr-primary-200)
}

.text-primary-800 {
  color: var(--clr-primary-800)
}

.text-primary-900 {
  color: var(--clr-primary-900)
}

.text-neutral-100 {
  color: var(--clr-neutral-100)
}

.text-neutral-200 {
  color: var(--clr-neutral-200)
}

.text-neutral-300 {
  color: var(--clr-neutral-300)
}

.text-neutral-900 {
  color: var(--clr-neutral-900)
}

.bg-primary-200 {
  background-color: var(--clr-primary-200)
}

.bg-primary-800 {
  background-color: var(--clr-primary-800)
}

.bg-primary-900 {
  background-color: var(--clr-primary-900)
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100)
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200)
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300)
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900)
}

.fw-Regular {
  font-weight: var(--fw-Regular)
}

.fw-Medium {
  font-weight: var(--fw-Medium)
}

.fs-body {
  font-size: var(--fs-body);
}

.fs-input-text {
  font-size: var(--fs-input-text);
}

.fs-input-text-larg {
  font-size: var(--fs-input-text-larg);
}

.fs-placeholder-text {
  font-size: var(--fs-placeholder-text);
}

.fs-label-text {
  font-size: var(--fs-label-text);
}

.fs-error-message {
  font-size: var(--fs-error-message);
}

.fs-button {
  font-size: var(--fs-button);
}

.fs-medium {
  font-size: var(--fs-500);
}

.fs-large {
  font-size: var(--fs-large);
}

/* general styling */

html {
  font-size: 18px;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  background-color: var(--clr-neutral-100);
  min-height: 100vh;
  overflow: hidden;
}

.card-display {
  background-image: url("https://drive.google.com/uc?id=1wwcKckaPg6cG06IPL6xIq8cOXqgcpa-E");
  background-repeat: no-repeat;
  background-size: cover;
}

label,
.card-front_card-holder {
  text-transform: uppercase;
}

input {
  text-transform: capitalize;
  border-radius: var(--border-radius);
  border: 2px solid var(--clr-neutral-200);
  padding: .4em;
  -webkit-transition: border ease 200ms;
  -o-transition: border ease 200ms;
  transition: border ease 200ms;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}


input::-webkit-input-placeholder {
  color: var(--clr-neutral-300);
  text-transform: none;
}


input::-moz-placeholder {
  color: var(--clr-neutral-300);
  text-transform: none;
}


input:-ms-input-placeholder {
  color: var(--clr-neutral-300);
  text-transform: none;
}


input::-ms-input-placeholder {
  color: var(--clr-neutral-300);
  text-transform: none;
}


input::placeholder {
  color: var(--clr-neutral-300);
  text-transform: none;
}

button {
  cursor: pointer;
  border: 0;
  padding: .5em;
  width: 100%;
  border-radius: var(--border-radius);
  -webkit-transition: background-color ease 200ms;
  -o-transition: background-color ease 200ms;
  transition: background-color ease 200ms;
}

fieldset {
  border: 0;
  padding: 0;
}

/* hover and focus */

input:hover {
  border-color: var(--clr-neutral-300);
}

input[disabled]:hover {
  border-color: var(--clr-neutral-200);
}

input:focus {
  outline: 0;
  background:
    -webkit-gradient(linear, left top, right top, from(var(--clr-neutral-100)), to(var(--clr-neutral-100))) padding-box,
    -webkit-gradient(linear, left top, right top, from(var(--clr-primary-800)), to(var(--clr-primary-900))) border-box;
  background:
    -o-linear-gradient(left, var(--clr-neutral-100), var(--clr-neutral-100)) padding-box,
    -o-linear-gradient(left, var(--clr-primary-800), var(--clr-primary-900)) border-box;
  background:
    linear-gradient(90deg, var(--clr-neutral-100), var(--clr-neutral-100)) padding-box,
    linear-gradient(90deg, var(--clr-primary-800), var(--clr-primary-900)) border-box;
  border-color: transparent;
  color: var(--clr-neutral-900);

}

button:hover {
  background-color: var(--clr-primary-900);
}

button:focus {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  outline: 2px solid;
  outline-color: var(--clr-primary-800);
  outline-offset: 3px;
  -webkit-transition: -webkit-transform ease-in-out 250ms;
  transition: -webkit-transform ease-in-out 250ms;
  -o-transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms;
  transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
}

/* layout */

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.card-display {
  width: 33vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2em;
}

.card-action-section {
  width: 67vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.card-back,
.card-front {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: clamp(250px, 33vw, 470px);
  padding: 1em;
  aspect-ratio: 2/1.1;
  -webkit-box-shadow:
    0px 0px 255px 49px rgba(0, 0, 0, 0.23),
    0px 45px 26px 0px rgba(0, 0, 0, 0.14);
  box-shadow:
    0px 0px 255px 49px rgba(0, 0, 0, 0.23),
    0px 45px 26px 0px rgba(0, 0, 0, 0.14);
}

.card-front {
  background-image: url("https://drive.google.com/uc?id=1FGEtOa-gb1IyEiBn8IHTMd8QKjcYOcGs");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  border-radius: var(--border-radius);
}

.card-front_card-number {
  margin-top: auto;
  margin-bottom: .5em;
  width: 80%;
  word-spacing: 1.7em;
}

.card-front_logo {
  position: absolute;
  top: 1em;
  left: calc(20%/2);
  -webkit-transform: translateX(15%);
  -ms-transform: translateX(15%);
  transform: translateX(15%);
}

.card-front_exp-date-holder-name {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card-back_cvc-number {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

object {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.card-back {
  background-image: url("https://drive.google.com/uc?id=1IXDkZGrBX-UVON6jP4IC9AqYPmZ--Y6f");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateX(75%);
  -ms-transform: translateX(75%);
  transform: translateX(75%);
  border-radius: var(--border-radius);
}

.form-container,
.confirmation-container {
  width: 100%;
  max-width: 400px;
  position: absolute;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}


input[id="card-holder-name"],
input[id="card-number"] {
  width: 100%;
}

input[id="expiration-date-month"],
input[id="expiration-date-year"] {
  width: 4em;
}

fieldset {
  margin: 0;
}

.expDate-cardCVC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}


.expiration-date,
.cvc-number-fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 50%;
}

.expiration-date {
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
}

.cvc-number-fieldset>input {
  width: 100%;
}

.cvc-number-fieldset {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.confirmation-container {
  text-align: center;
}

.confirmation-container>button {
  margin-top: 2em;
}

.confirmation-container>object {
  margin-bottom: 2em;
}

.hint {
  margin-bottom: 1em;
}


form>button {
  margin-top: 1em;
}


.hidden {
  visibility: hidden;
}

.confirmation-container {
  opacity: 0;
  pointer-events: none;
}

/* no need to show it on screen*/
div[aria-live="assertive"] {
  position: absolute;
  color: transparent;
}


.error-border,
.error-border:hover,
.error-border:focus {
  border-color: var(--clr-primary-200);
}


/* show card company */
label[for="card-number"] {
  position: relative;
  width: 100%;
}

label[for="card-number"]::after {
  content: "";
  width: 50px;
  height: 20px;
  background-size: 50px;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 3px;
  -webkit-transform: translateX(500%);
  -ms-transform: translateX(500%);
  transform: translateX(500%);
}

label[data-card-company="Discover"]::after {
  background-image: url("https://www.discover.com/content/dam/dfs/credit-cards/global/images/discover-logo.png");
}

label[data-card-company="Visa"]::after {
  background-image: url("https://cdn.visa.com/v2/assets/images/logos/visa/blue/logo.png");
}

label[data-card-company="masterCard"]::after {
  background-image: url("https://www.mastercard.us/content/dam/public/mastercardcom/na/us/en/homepage/Home/mc-logo-52.svg");
  height: 40px;
  background-size: 35px;
  -webkit-transform: translateX(515%);
  -ms-transform: translateX(515%);
  transform: translateX(515%);
}

label[data-card-company="americanExpress"]::after {
  background-image: url("https://www.aexp-static.com/cdaas/one/statics/axp-static-assets/1.8.0/package/dist/img/logos/dls-logo-stack.svg");
}


@media screen and (max-width:1416px) {
  .card-front_card-number {
    word-spacing: .25em;
  }
}

@media screen and (max-width:1380px) {

  .form-container,
  .confirmation-container {
    -webkit-transform: translateX(20%);
    -ms-transform: translateX(20%);
    transform: translateX(20%);
  }

  .card-front {
    -webkit-transform: translateX(25%);
    -ms-transform: translateX(25%);
    transform: translateX(25%);
  }

  .card-back {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@media screen and (max-width:1020px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .card-display {
    background-image: url("https://drive.google.com/uc?id=1BWZcsZCO28eEQNEZNgtby1mhMh2OaF4z");
    width: 100vw;
    height: 33vh;
  }

  .card-action-section {
    width: 100vw;
    height: 67vh;
  }

  .form-container,
  .confirmation-container {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  .card-back {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-transform: translate(15%, 55%);
    -ms-transform: translate(15%, 55%);
    transform: translate(15%, 55%);
  }

  .card-front {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-transform: translate(-15%, -30%);
    -ms-transform: translate(-15%, -30%);
    transform: translate(-15%, -30%);
    padding: .5em;
    z-index: 1;
  }

  .card-front_exp-date-holder-name {
    font-size: var(--fs-300);
    width: 90%;
  }

  .card-front_card-number {
    font-size: var(--fs-400);
    margin-bottom: .1em;
    width: 90%;
  }

  .card-front_logo {
    position: absolute;
    top: .5em;
    left: calc(20%/2);
    -webkit-transform: translateX(5%);
    -ms-transform: translateX(5%);
    transform: translateX(5%);
  }
}

@media screen and (max-width:425px) {

  .form-container,
  .confirmation-container {
    padding-inline: 1em;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
  }

  .card-back {
    -webkit-transform: translate(10%, 50%);
    -ms-transform: translate(10%, 50%);
    transform: translate(10%, 50%);
  }

  .card-front {
    -webkit-transform: translate(-10%, -15%);
    -ms-transform: translate(-10%, -15%);
    transform: translate(-10%, -15%);
  }
}

@media screen and (max-width:320px) {

  input[id="expiration-date-month"],
  input[id="expiration-date-year"] {
    width: 3em;
  }
}

.submitAnimate {
  -webkit-animation: submitAnimation 1s ease forwards;
  animation: submitAnimation 1s ease forwards;
  /* position: absolute; */
  /* transform: translateY(-100%); */
}

.confirmationAnimate {
  -webkit-animation: confirmationAnimation 1s ease forwards;
  animation: confirmationAnimation 1s ease forwards;
}


@-webkit-keyframes confirmationAnimation {
  100% {
    opacity: 1;
  }
}


@keyframes confirmationAnimation {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes submitAnimation {
  100% {
    -webkit-transform: scale(0.001);
    transform: scale(0.001);
    opacity: 0;
  }
}

@keyframes submitAnimation {
  100% {
    -webkit-transform: scale(0.001);
    transform: scale(0.001);
    opacity: 0;
  }
}